body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color:#2f1919;
}

header{
    height: 120px;
    margin:20px;
    padding: 0px;
    border: 2px red solid;
}


main{
    margin: 10px 20px;
    padding: 20px;
    border: 2px red solid;

}

p {
    margin: 15px 0px;
}

h1{
    /* border: 2px black solid; */
    margin: 35px 0px 0px 0px;
    /* padding: 0px 0px; */
}

h2 {
    margin: 0px;
    color:rgb(5, 131, 26);
    text-decoration: underline;
}


.logo {
    float: left;
    /* border: 2px blue solid; */
    margin: 10px 20px 10px 10px;
}


@media screen and (max-width: 600px) {

    body{
        background-color: rgb(240, 250, 185);
        color:rgb(121, 63, 228);
        font-size: 22px;
        line-height: 30px;
    }

    header{
        height: 100px;
        line-height: 20px;
    }
    
    h1{
        font-size: 26px;
        margin: 25px 0px 0px 0px;
    }

    h2 {
        font-size: 24px;
    }

    .logo {
        height: 70%;
        margin: 13px 20px 10px 10px;
    }

}